.container {
  min-height: 100vh;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 27px;
  background-color: #2B344B;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}